{% extends 'base.html' %} {% block content %}
    <div class="container-fluid">
        <h1 class="mt-4">Simple Sidebar</h1>
    </div>
    <div class="row">
                <dov class="col-md-12">
                    <table class="table table-striped">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Musican ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Instrument</th>
                            </tr>
                        </thead>
                        <tbody class='table-striped'>
                            {% for musican in musicans %}
                            <tr>
                                <td>{{ musican.id }}</td>
                                <td>{{ musican.first_name }}</td>
                                <td>{{ musican.last_name }}</td>
                                <td>{{ musican.instrument }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </dov>
            </div>
    <div class="row">
                <dov class="col-md-12">
                    <table class="table table-striped">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Album ID</th>
                                <th>First Name</th>
                                <th>Release Date</th>
                                <th>Num Starts</th>
                                <th>Artist ID</th>
                                <th>Artist Name</th>
                            </tr>
                        </thead>
                        <tbody class='table-striped'>
                            {% for album in albums %}
                            <tr>
                                <td>{{ album.id }}</td>
                                <td>{{ album.name }}</td>
                                <td>{{ album.release_date }}</td>
                                <td>{{ album.num_stars }}</td>
                                <td>{{ album.artist_id }}</td>
                                <td>{{ album.artist.first_name }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </dov>
            </div>
{% endblock %}

